
# token should be same for Master-Workers use something long above 20 chars , to avoid conflicts
token=
# transferEncryptToken should be 32 characters long
transferEncryptToken=
# enable/disable assigning new tasks in batches , values true/false
getBatch=true
# set batch size   if enabled , default is 5
batchSize=5
# LOG_LEVEL=off
LOG_LEVEL=info
# LOG_LEVEL=warn
# LOG_LEVEL=error
# LOG_LEVEL=fatal
#LOG_LEVEL=debug
